:root {
  --primary-color: #f7f7f2;
  --secondary-color: #222725;
  --accent-color: #899878;
  --highlight-color: #e4e6c3;
  --button-font-size: 16px;
}


.l-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
}

.l-navbar-scrolled {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height:20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.l-nav-links {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.l-nav-links li {
  margin-left: 1rem;
}

.l-nav-link {
  font-size: 16px;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  display: inline-block;
}

.l-nav-link:hover {
  color: var(--accent-color);
}

.l-login-button {
  font-size: 16px;
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  border: none;
  margin-right: 5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.l-login-button:hover {
  background-color: var(--secondary-color);
  color: var(--highlight-color);
}

.l-navbar-scrolled .l-nav-link,
.l-navbar-scrolled .l-login-button {
  color: var(--secondary-color);
}

.l-navbar-scrolled .l-nav-link:hover {
  color: var(--accent-color);
}

.l-navbar-scrolled .l-login-button:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}